/* Global */
/* ------------------------------------ */
* , *::before, *::after {
    /* outline: 1px dotted red; */
    box-sizing: border-box;
}

/* Header */
/* ------------------------------------ */
#topHeader {
    padding-top: 15px;
    padding-bottom: 16px;
    color: whitesmoke;
    background-color: #b26a50;
    font-family: 'Lato', sans-serif;
    border-bottom: 5px solid whitesmoke;
}

#regTradeMark{
    font-size: 15px;
}

/* Root CSS Varibles HSL Colors */
/* ------------------------------------ */
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

/* Body */
/* ------------------------------------ */
.score-board {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #b26a50;
    border-radius: 5px;
    margin-bottom: 10px;
}

#question {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue),100%, 20%);
}

/* Change the backgroud color of board to Green for Correct */
body.correct{
    --hue: var(--hue-correct);
}

/* Change the backgroud color of board to Red for Wrong */
body.wrong{
    --hue: var(--hue-wrong);
}



/* Gameboard */
/* ------------------------------------ */
#gameBoard {
    --hue: var(--hue-neutral);
    margin-top: 3%;
    margin-bottom: 3%;
    width: 800px;
    max-width: 80%;
    height: 700px;
    top: 50%;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    /* background-color: hsl(var(--hue), 100%, 20%); */
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 755px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ------------------------------------ */
/* Change the backgroud color of board to Green for Correct */
/* #gameBoard.correct{
    --hue: var(--hue-correct); */
/* } */
/* Change the backgroud color of board to Red for Wrong */
/* #gameBoard.wrong{
    --hue: var(--hue-wrong);
} */
/* ------------------------------------ */


/* Answer Grid */
/* ------------------------------------ */
/* Buttons */
.btn-grid {
    /* Put answers in grid */
    display: grid;
    /* Puts Answers side by side in two columns */
    grid-template-columns: repeat(2, auto);
    /* Puts gap between grid */
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-family: 'Lato', sans-serif;
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue),100%, 30%);
    background-color: hsl(var(--hue),100%, 20%);
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    /* color:#b26a50; */
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

/* Buttons Under Controls */
/* ------------------------------------ */
.start-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

.next-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}



/* Canvas */
/* ------------------------------------ */
/* #canvas { */
    /* margin-top: 5%;
    margin-bottom: 6%;
    width: 900px;
    height: 600px;
    left: 9%;
    top: 50%; */
    /* transform: translate(1px, 1px); */
    /* position: relative; */
/* } */

/* Footer */
/* ------------------------------------ */
#footer {
    padding-top: 10px;
    padding-bottom: 21px;
    color: whitesmoke;
    background-color: #b26a50;
    font-family: 'Lato', sans-serif;
    border-top: 5px solid whitesmoke;
}